<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>
    <form action="/register" method="post">
        <label for="">Class Captain</label><br>
        <input type="text" name="name" placeholder="Enter your name"><br>
        <label for="">Class</label><br>
        <select name="class" id="">
            <option value="SS1">SS1</option>
            <option value="SS2">SS2</option>
        </select><br><br>
        <button type="submit">Start</button>
    </form>
</body>
</html>